{% load static %}
<style>

</style>
<section class="container-fluid p-0 newsletter bg-light p-5">
  <div class="container">
  <h4 style="font-weight: 700;" class="py-2">Subscribe to Newsletter</h4>
  <div class="d-flex">
    <input class="form-control p-1" style="border: 1px solid #ced4da;" type="email" placeholder="Enter your Email">
    <button class="col-12 col-lg-4 primary_btn mx-3 p-3">Submit</button> 
  </div>
</div>
</section>


<div class="container" style="height: 200px;">
  <div class="row justify-content-center">
    <div class="col-lg-7 text-center mt-5">
      <div class="widget p-3">
        <a href="" class="topbar-social-item fa fa-facebook mx-2 s-text2"></a>
        <a href="" class="topbar-social-item fa fa-instagram mx-2 s-text2"></a>
        <a href="" class="topbar-social-item fa fa-pinterest-p mx-2 s-text2"></a>
        <a href="" class="topbar-social-item fa fa-map s-text2 mx-2"></a>
      </div>

      <div class="widget">
        <p>&copy Copyright 2021 | All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>


