{% load static %}
<style>
  .post .card{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
.s-text1{
    font-size: 13px;
    color: #848484 !important;
    text-decoration: none;
}
.s-text2{
    font-size: 15px;
    color: #848484 !important;
    text-decoration: none;
}
.navbar-default{
    height: 70px;
    box-shadow: 3px 2px 4px #d4d4d4;
}

</style>
<header>  

      <nav class="topnav navbar navbar-expand-lg navbar-default navbar-light bg-white mb-4">
        <div class="container">
            <a class="nav-logo" href="/">Mundana</a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarColor02" style="margin-left: 25%;width: 50%;justify-content: space-around;">
            <ul class="navbar-nav mr-auto d-flex align-items-center justify-content-around w-50" >
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
              </li> 
              
              <li class="nav-item">
                <a class="nav-link" href="#">Our Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto d-flex align-items-center">
              <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
              </li>
            </ul>
          </div>
        </div>
        </nav>
	</header>
	
